body {
    background-color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    border-radius: 6px;
}

footer{
    font-size: small;
    text-decoration: solid;
}